@model AjudaFacil.ViewModels.Accounts.RegisterViewModel

<body>
    <div id="cadastro-clientes">
        <form asp-action="RegisterAccount" class="container">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="container">
                <div>
                    <h1 id="titulo">Cadastro de Doador</h1>
                    <p id="subtitulo">Complete com suas informações</p>
                    <br>
                </div>
                <fieldset class="grupo">
                    <div class="campo">
                        <label asp-for="Name" for="nome">Name</label>
                        <input asp-for="Name" type="text" name="Name" id="nome" required>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="campo">
                        <label asp-for="LastName" for="nome"></label>
                        <input asp-for="LastName" type="text" name="LastName" id="nome" required>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </fieldset>

                <fieldset class="grupo">
                    <div class="campo">
                        <label asp-for="Email" for="email">Email</label>
                        <input asp-for="Email" type="text" name="Email" id="email" required>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="campo">
                        <label asp-for="CPF" for="cpf">CPF</label>
                        <input asp-for="CPF" type="text" name="CPF" id="cpf" required>
                        <span asp-validation-for="CPF" class="text-danger"></span>
                    </div>
                </fieldset>

                <fieldset class="grupo">
                    <div class="campo">
                        <label asp-for="BirthDate" for="dataNascimento">Data de Nascimento</label>
                        <input asp-for="BirthDate" type="text" name="BirthDate" id="nascimento" required>
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>
                    <div class="campo">
                        <label asp-for="Adress" for="endereco">Endereço</label>
                        <input asp-for="Adress" type="text" name="Adress" id="Adress" required>
                        <span asp-validation-for="Adress" class="text-danger"></span>
                    </div>
                </fieldset>

                <fieldset class="grupo">
                    <div class="campo">
                        <label asp-for="City" for="cidade">Cidade</label>
                        <input asp-for="City" type="text" name="City" id="City" required>
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="campo">
                        <label asp-for="Password" for="cidade">Senhá</label>
                        <input asp-for="Password" type="text" name="Password" id="Password" required>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                </fieldset>

                <fieldset class="grupo">
                    <div class="campo">
                        <label for="sexo">Sexo</label>
                        <center>
                            <label>
                                <input class="inputMasculino" type="radio" name="sexo" value="masculino"> Masculino
                                <input class="inputFeminino" type="radio" name="sexo" value="feminino">Feminino
                            </label>
                        </center>
                    </div>
                </fieldset>

                <div>
                    <button type="submit" class="btn btn-outline-warning">Enviar</button>
                    <button type="submit" class="btn btn-outline-warning">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</body>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}