<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AjudaFacilV3</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AjudaFacilV3.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <img src="~/img/Logo Ajuda Facil.jpg" class="logoSite">
        <nav class="navbar navbar-dark" style="background-color: #6c8ff0;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AjudaFacil</a>

                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index" aria-selected="true">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Sobre Nós</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="RegisterInstitution">Registre sua instituição</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Doações</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" asp-controller="Donation" asp-action="CreateSchoolSupplieDonation">Materiais Escolares</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="Donation" asp-action="CreateClothingDonation">Roupas e Alimentos</a>
                            </li>
                            <li>
                                <a class="dropdown-item">Outros</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-dark" style="background-color: #6c8ff0;">
        <div class="container">
            &copy; 2022 - Ajuda Facil - <a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
