@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav navbar-brand">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">

            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                    <a class="nav-link text-primary" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
                </li>
                <li class="nav-item">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="nav-link btn btn-link text-primary">Sair</button>
                    </form>
                </li>
                <li>
                    <a asp-controller="UserProfile" asp-action="DetailsProfile" class="dropdown-item">Perfil</a>
                </li>
                <li>
                    <a asp-controller="Donation" asp-action="DetailsDonation" class="dropdown-item">Minhas Doações</a>
                </li>
            </ul>

            @*<ul class="dropdown-menu">
                <li>
                    <a asp-controller="UserProfile" asp-action="DetailsProfile" class="dropdown-item">Perfil</a>
                </li>
                <li>
                    <a asp-controller="Donation" asp-action="DetailsDonation" class="dropdown-item">Minhas Doações</a>
                </li>
            </ul>*@
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Registrar-se</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
        </li>
    }
</ul>
