@model AjudaFacilV3.Models.UserProfile

<body>
    <div class="container" style="background-color: #dce6eb; border-radius: 10px; padding-top: 50px; padding-bottom: 10px;">
        <form class="row g-3" asp-action="UpdateProfile">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <hr />
            <div class="text-center">
                <h2>Atualizar Informações pessoais.</h2>
            </div>
            <hr />
            <div class="row g-3 justify-content-center">
                <div class="col-md-3">
                    <label class="form-label">Nome</label>
                    <input asp-for="Name" type="text" class="form-control" id="specificSizeInputName" placeholder="Digite seu nome">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Telefone</label>
                    <input asp-for="PhoneNumber" type="tel" class="form-control" id="specificSizeInputName" placeholder="Digite seu Telefone">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label class="form-label">E-mail</label>
                    <input class="form-control" type="email" value="@Html.DisplayNameFor(model => model.User)" disabled readonly>
                </div>
            </div>

            <div class="row g-3 justify-content-center" style="margin-left: -166px">
                <div class="col-2">
                    <label class="form-label">Data de Nascimento</label>
                    <input asp-for="BirthDate" type="date" class="form-control" id="specificSizeInputName" placeholder="Digite sua data de nascimento">
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label for="inputState" class="form-label">Sexo</label>
                    <input asp-for="Sex" type="tel" class="form-control" id="specificSizeInputName" placeholder="Sexo">
                    <span asp-validation-for="Sex" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label class="form-label">Total de Doações</label>
                    <input class="form-control" type="text" value="0 : Doações feitas" aria-label="readonly input example" disabled readonly>
                </div>
            </div>

            <div class="row g-3 justify-content-center" style="margin-left: -61px">
                <div class="col-md-2">
                    <label class="form-label">Endereço</label>
                    <input asp-for="Adress" type="text" class="form-control" id="specificSizeInputName" placeholder="Digite seu Endereço">
                    <span asp-validation-for="Adress" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label class="form-label">Cidade</label>
                    <input asp-for="City" type="text" class="form-control" id="specificSizeInputName" placeholder="Cidade">
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label for="inputZip" class="form-label">CEP</label>
                    <input asp-for="CEP" type="text" class="form-control" id="specificSizeInputName" placeholder="Digite seu CEP">
                    <span asp-validation-for="CEP" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label for="inputZip" class="form-label">CPF</label>
                    <input asp-for="CPF" type="text" class="form-control" id="specificSizeInputName" placeholder="Digite seu CPF">
                    <span asp-validation-for="CPF" class="text-danger"></span>
                </div>
            </div>
            <div style="margin-left: 160px;">
                <input type="submit" asp-action="UpdateProfile" value="Atualizar" class="btn btn-primary" /> |
                <input type="submit" class="btn btn-primary" asp-controller="Home" asp-action="Index" value="Voltar" />
            </div>
        </form>

    </div>

</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }