@{
    ViewData["Title"] = "Home Page";
}

<body class="imagenIndex">
    <div class="content">
        <h1 style="font-size: 70px;">Projeto Social<br><span style="font-size: 80px;">Ajuda Fácil</span> <br>Curso C#</h1>
        <div id="login-container2">
            <p class="par">
                O Ajuda Facil é uma organização sem fins lucrativos com foco no
                desenvolvimento do terceiro setor de nossa cidade.Nosso site une informações de associações e entidades sem fins
                lucrativos, desvinculadas da administração pública, que prestem algum tipo de auxílio efetivo à população blumenauense.
                Também são incluídos grupos de prestação de serviço e voluntariado.
            </p>
        </div>
    </div>

    <div class="row" style="margin-bottom: 120px; margin-top: 220px; display: block;" >
        <img class="imagemInstituicaoImg" src="~/img/instituicao.jpg" />
    </div>

    <hr />

    <div class="row text-center justify-content-center">
        <h2 class="display-4 text-light">Veja como sua doação faz a diferança</h2>
        <hr />
        <div class="col-md-3">
            <div class="card" style="background-color: #87ceeb">
                <img src="~/img/DoarEducacao.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="card text-center" style="background-color: cornflowerblue">
                        <h5 class="card-title">Educação</h5>
                    </div>
                    <div class="card-tamanho">
                        <p class="card-text">Doe material escolar ajudando crianças que necessitam de recursos para uma educação de qualidade.</p>
                    </div>
                    <a class="btn btn-primary" asp-controller="Donation" asp-action="CreateSchoolSupplieDonation">Doar Agora</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="background-color: #87ceeb">
                <img src="~/img/doacao-de-roupa.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="card text-center" style="background-color: cornflowerblue">
                        <h5 class="card-title">Roupas e acessorios</h5>
                    </div>
                    <div class="card-tamanho">
                        <p class="card-text">Doe roupas ou acessorios para familias ou intituições carentes</p>
                    </div>
                    <a class="btn btn-primary" asp-controller="Donation" asp-action="CreateClothingDonation">Doar Agora</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="background-color: #87ceeb">
                <img src="~/img/DoarOutros.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="card text-center" style="background-color: cornflowerblue">
                        <h5 class="card-title">Doe oque você não usa mais</h5>
                    </div>
                    <div class="card-tamanho">
                        <p class="card-text">Doe material escolar ajudando crianças que necessitam de recursos para uma educação de qualidade.</p>
                    </div>
                    <a class="btn btn-primary">Doar Agora</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="background-color: #87ceeb">
                <img src="~/img/caminhao.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="card text-center" style="background-color: cornflowerblue">
                        <h5 class="card-title">Buscamos sua doação</h5>
                    </div>
                    <div class="card-tamanho">
                        <p class="card-text">Doe material escolar ajudando crianças que necessitam de recursos para uma educação de qualidade.</p>
                    </div>
                    <a class="btn btn-primary" asp-controller="Donation" asp-action="CreateSchoolSupplieDonation">Doar Agora</a>
                </div>
            </div>
        </div>
    </div>
</body>