@{
    ViewData["Title"] = "Home Page";
}

<body class="imagenIndex">
<div class="row text-center justify-content-center">
    @*text-center justify-content-center*@
    <hr />
    <hr />
    <h2 class="display-4 text-light">Vejá como sua doação faz a diferança</h2>
    <hr />
    <div class="col-sm-3">
        <div class="card">
            <img src="~/img/DoarEducacao.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="card text-center" style="background-color: cornflowerblue">
                    <h5 class="card-title">Educação</h5>
                </div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a class="btn btn-primary" asp-controller="Donation" asp-action="CreateSchoolSupplieDonation">Doar Agora</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
            <img src="~/img/doacao-de-roupa.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="card text-center" style="background-color: cornflowerblue">
                    <h5 class="card-title">Roupas e acessorios</h5>
                </div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a class="btn btn-primary" asp-controller="Donation" asp-action="CreateClothingDonation">Doar Agora</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
            <img src="~/img/DoarOutros.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="card text-center" style="background-color: cornflowerblue">
                    <h5 class="card-title">Doe oque você não usa mais</h5>
                </div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a class="btn btn-primary">Doar Agora</a>
            </div>
        </div>
    </div>
</div>
</body>