@{
    ViewData["Title"] = "Privacy Policy";
}

<body class="fundoSobreNos">
    <div class="row justify-content-end">
        <div class="col-md-5 shadow-lg p-3" style="background-color: aliceblue; border-radius: 20px; margin-top: 40px;">
            <div class="text-monospace">
                <hr />
                <h1 class="texto2">Sobre a Instituição</h1>
                <hr />
                <p class="text-primary">
                    O intuito do nosso projeto é a acessibilidade
                    para a caridade, construindo uma plataforma
                    segura, acessível e intuitiva para as pessoas
                    carentes.
                </p>
                <h4>Objetivos Específicos: </h4>
                <dt>
                    &diams; Incentivar as pessoas a caridade.
                </dt>
                <dt>
                    &diams; Facilitar o acesso a famílias e pessoas com necessidades.
                </dt>
                <dt>
                    &diams; Conscientizar a todos a necessidade do auxílio dessas famílias.
                </dt>
                <dt>
                    &diams; Motivar e exibir os resultados para os colaboradores e os interessados em auxiliar.
                </dt>
                <br />
                <p class="text-primary">
                    A finalidade de nosso projeto é dar
                    acessibilidade a caridade e amparar
                    entidades e famílias. Facilitando ao máximo
                    as doações, com finalidade de incentivar o
                    aumento de caridades e ações aos
                    necessitados.
                </p>
            </div>
        </div>
    </div>
</body>