<body class="PresentationCreate">
    <div class="row" style="margin-top: 10px;">
        <img src="~/img/instituicao.jpg" />
    </div>
    <div class="Titlle">
        <h1 class="txt1">Cadastre sua Instituição</h1>
        <h3 class="txt2">e faça parte desse projeto</h3>

        <p class="txt3">
            A finalidade do Ajuda Fácil nosso projeto é dar acessibilidade a caridade e amparar
            entidades e famílias. Facilitando ao máximo<br>
            as doações, com finalidade de incentivar o aumento de caridades e ações aos necessitados.
        </p>
    </div>
    <center>
        <div class="PresentationCreate">
            <div class="box-shadow">
                <form>
                    <fieldset class="grupo">
                        <div class="campo">
                            <label for="nome">Nome da Instituição</label>
                            <input type="text" name="nome" id="nome" class="txt" placeholder="Insira o nome da sua instituição" required>
                        </div>
                        <div class="campo">
                            <label for="dataNascimento">Site da Instituição</label>
                            <input type="text" name="siteInsti" id="siteInsti" class="txt" placeholder="Insira o site da Instituição" required>
                        </div>
                    </fieldset>
                    <fieldset class="grupo">
                        <div class="campo">
                            <label for="email">Email</label>
                            <input type="text" name="email" id="email" class="txt" placeholder="Insira o email da instituição" required>
                        </div>
                        <div class="campo">
                            <label for="cpf">CPF/CNPJ</label>
                            <input type="text" name="cpf" id="cpf" class="txt" placeholder="Insira o CPF/CNPJ da Instituição " required>
                        </div>
                    </fieldset>
                    <fieldset class="grupo">
                        <div class="campo">
                            <label for="endereco">Endereço</label>
                            <input type="text" name="endereco" id="endereco" class="txt" placeholder="Insira o endereço da empresa" required>
                        </div>
                        <div class="campo">
                            <label for="Bairro">Bairro</label>
                            <input type="text" name="bairro" id="bairro" class="txt" placeholder="Insira qual o bairro da Instituição" required>
                        </div>
                    </fieldset>
                    <fieldset class="grupo">
                        <div class="campo">
                            <label for="cidade">Cidade</label>
                            <input type="text" name="cidade" id="cidade" class="txt" placeholder="Insira qual cidade de Atuação" required>
                        </div>
                        <div class="campo">
                            <label for="cidade">Fone/Celular</label>
                            <input type="text" name="fone" id="fone" class="txt" placeholder="Insira o Contato da Instituição" required>
                        </div>
                    </fieldset>
                    <div>
                        <center>
                            <input type="submit" value="Enviar" class="button1" width="9">
                            <input type="submit" value="Limpar" class="button1" width="9">
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </center>
</body>