@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap');

html, body{
    min-height: 100%;
    margin: 0; 
    padding: 0px;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: antiquewhite;
  }
body.paginaSite{
    background: url("../img/fundo.jpg") no-repeat center fixed;
    background-size: 60vw;
    background-position: left;
}

nav{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    background: rgba(22, 109, 196, 0.822);

}

.ajudafacil{
    float: left;

}

.logoSite{
    width: 90px;
    height: 60px;
    padding-top: 0px;
    float: left;
}

nav a{
    display: block;
	width: auto;	
	height: 45px;
	padding: 5px;
	float: right;
	line-height: 55px;
	color: white;
	text-decoration: none; 
    margin-left: 15px;
    margin-right: 15px;
    font-family:'Signika Negative';
    font-weight: 800;
    font-size: 21px;
}

.row{
    margin-top: 70px;
    display: flex;
    align-items: right;
    justify-content: right;

}

.card {
    border-radius: 10px;
    box-shadow: 7px, 7px, 15px 0 rgb(50, 50, 50, 0.22);
    padding: 10px;
    margin: 10px;
    width: 180px;
    transition: all 0.3s ease-out;
    background-color: rgb(235, 225, 225);

}
.card:hover{
    transform: translateY(-5px);
    cursor: pointer;

}
.image{
    align-items: center;
    max-width: 160px;
    max-height: 110px;

}

footer{
    width: 100%;
    height: 40px;
    background: rgba(22, 109, 196, 0.822);
    bottom: 0;
    position: fixed;
    margin: auto 0;
    
}
footer span{
    display: inline-block; 
    width: 47%;
    color: black;
    padding: 10px;
}
footer .assinatura{
    text-align: right;
    padding-left: 25px;
}

     /* ======================== pagina do contato ============================*/

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Helvetica;
color: #323232;
border: none;
}
textarea:focus, input:focus{
outline: none;
}

a, label{
font-size: .8rem;
}

a:hover{
color: #085588;
}

#login-container{
background-color: rgb(62, 130, 199);
width: 450px;
height: 600px;
margin-left: 450px;
margin-right: 200px;
padding: 20px 30px;
margin-top: 10vh;
border-radius: 10px;
text-align: center;
}

form {
margin-top: 20px;
margin-bottom: 30px;
}

label, input{
display: block;
width: 100%;
text-align: left;
}

label{
font-weight: bold;
}

input{
border-bottom: 2px solid #323232;
padding: 10px;
font-size: 1rem;
margin-bottom: 20px;
}

label,
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea {
    padding: 25px;
    width: 390px;
    line-height: 1.5;
    border-radius: 2px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}
   

label {
    display: block;
    margin-bottom: 10px;
}

input:focus{
border-bottom: 2px solid #085588;
}

input[type="submit"]{
text-align: center;
text-transform: uppercase;
font-weight: bold;
border: none;
height: 40px;
border-radius: 20px;
margin-top: 30px;
color: #fff;
background-color: #085588;
cursor: pointer;
}

input[type="submit"]:hover{
background-color: #1b223c;
transition: .5s;
} 

    /* ======================== pagina do sobre ============================*/

.texto2{
    text-align: left;
    margin-left: 150px;
    margin-top: 100px;
    color: red;
}
.paragrafo{
    text-align: left;
    margin-top: 50px;
    margin-left: 150px;
    font-family: sans-serif;
}
.bloco{
  margin-top: -250px;
  margin-left: 700px;
   
}

    /* ======================== pagina do cadastro ============================*/

.txt1{
    text-align: left;
    margin-top: 100px;
    margin-left: 200px;
    color: red;
} 
.txt2{
    text-align: left;
    margin-top: 5px;
    margin-left: 200px;
    font-family: 'Times New Roman', Times, serif;
    color: red;
}
.txt3{
    text-align: left;
    margin-top: 10px;
    margin-left: 200px;
    font-family: sans-serif;
}
div.tres {
    width: 900px;
    height: 30px;
    margin-left: 200px;
    margin-top: 10px;
    border: 25px solid; 
    border-color: rgb(62, 130, 199);
}
.txt4{
    margin-left: -5px;
    margin-top: -15px;
    color: white;
}
.prg{
    margin-left: 200px;
    margin-top: 40px;
    width: 900px;
    height: 30px;
}
    
   
    
    
    
    








     



  
  
