@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<body class="baguiDeCima">
    <main class="cadastroBonito">
        <div class="cadastroBonito">
            <div class="Container2">
                <input type="checkbox" id="flip">
                <div class="cover23">
                    <div class="fronte">
                        <img src="~/img/Donate.jpg" alt="Alternate Text" />
                    </div>
                </div>
                <form class="form2" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div class="form-content">
                        <div class="login-form">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="title-login-form">Entrar</div>
                            <div class="input-boxes">
                                <div class="input-box">
                                    <i class="fas fa-envelope"></i>
                                    <input asp-for="Input.Email" type="email" placeholder="Insira seu Email" required>
                                </div>
                                <div class="input-box">
                                    <i class="fas fa-envelope"></i>
                                    <input asp-for="Input.Password" type="password" placeholder="Insira sua senha" required>
                                </div>
                                <div>
                                    <div class="checkbox">
                                        <label asp-for="Input.RememberMe" class="form-label">
                                            <input class="form-check-input" asp-for="Input.RememberMe" />
                                            Lembrar Senha.
                                        </label>
                                    </div>
                                </div>
                                <div class="button input-box">
                                    <input id="login-submit" type="submit" value="Confirmar">
                                </div>
                                <div class="textCadastro">Voc&ecirc; n&atilde;o tem conta? <a type="submit" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Cadastre se agora!</a> </div>
                            </div>
                        </div>

                        <div class="singup-form">
                            <div class="title-login-form">Inscreva-se</div>
                            <div class="input-boxes">
                                <div class="input-box">
                                    <i class="fas fa-user"></i>
                                    <input type="text" placeholder="Insira seu Nome">
                                </div>
                                <div class="input-box">
                                    <i class="fas fa-envelope"></i>
                                    <input type="text" placeholder="Insira seu Email">
                                </div>
                                <div class="input-box">
                                    <i class="fas fa-envelope"></i>
                                    <input type="password" placeholder="Insira sua senha">
                                </div>
                                <div class="button input-box">
                                    <input type="submit" value="Confirmar">
                                </div>
                                <div class="textCadastro">Voc&ecirc; n&atilde;o tem cadastro? <label for="flip">Entre agora!</label></div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </main>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
