@page
@model RegisterModel

@{
    ViewData["Title"] = "Register";
}

<body class="baguiDeCima">
    <main class="cadastroBonito">
        <div class="cadastroBonito">
            <div class="Container3">
                <input type="checkbox" id="flip">
                <div class="cover24">
                    <div class="fronte">
                        <img src="~/img/Donate.jpg" alt="Alternate Text" />
                    </div>
                </div>
                <form class="form2" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div class="form-content">
                        <div class="login-form">
                            <div class="title-login-form">Entrar</div>
                            <div class="input-boxes">
                                <div class="input-box">
                                    <i class="fas fa-envelope"></i>
                                    <input type="text" placeholder="Insira seu Email">
                                </div>
                                <div class="input-box">
                                    <i class="fas fa-envelope"></i>
                                    <input type="password" placeholder="Insira sua senha">
                                </div>
                                <div class="textCadastro"><a href="#">Esqueci a senha</a></div>
                                <div class="button input-box">

                                    <input id="login-submit" type="submit" value="Confirmar">
                                </div>
                                <div class="textCadastro">Voc&ecirc; n&atilde;o tem conta? <label for="flip">Cadastre se agora!</label></div>
                            </div>
                        </div>

                        <div class="singup-form">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="title-login-form">Inscreva-se</div>
                            <div class="input-boxes">
                                <i class="fas fa-envelope"><span asp-validation-for="Input.Email" class="text-danger"></span></i>
                                <div class="input-box">
                                    <i class="fas fa-envelope"></i>
                                    <input asp-for="Input.Email" type="text" placeholder="Insira um Email" required>
                                </div>
                                <i class="fas fa-envelope"><span asp-validation-for="Input.Password" class="text-danger"></span></i>
                                <div class="input-box">
                                    <i class="fas fa-envelope"></i>
                                    <input asp-for="Input.Password" type="password" placeholder="Insira uma senha" required>
                                </div>
                                <i class="fas fa-envelope"></i>
                                <i class="fas fa-envelope"><span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span></i>
                                <div class="input-box">
                                    <i class="fas fa-envelope"></i>
                                    <input asp-for="Input.ConfirmPassword" type="password" placeholder="Confirme sua senha" required>
                                </div>
                                <div class="button input-box">
                                    <input type="submit" value="Confirmar">
                                </div>
                                <div class="textCadastro">Voc&ecirc; já tem conta? <a type="submit" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Entre agora!</a> </div>
                                @*<div class="textCadastro">Voc&ecirc; já tem cadastro? <label for="flip">Entre agora!</label></div>*@
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </main>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
