@model AjudaFacilV3.Models.Institution

<body class="PresentationCreate">
    <div class="row" style="margin-top: 10px;">
        <img src="~/img/instituicao.jpg" />
    </div>
    <div class="Titlle">
        <h1 class="txt1">Cadastre sua Instituição</h1>
        <h3 class="txt2">e faça parte desse projeto</h3>

        <p class="txt3">
            A finalidade do Ajuda Fácil nosso projeto é dar acessibilidade a caridade e amparar
            entidades e famílias. Facilitando ao máximo<br>
            as doações, com finalidade de incentivar o aumento de caridades e ações aos necessitados.
        </p>
    </div>
    <center>
        <div class="PresentationCreate">
            <div class="box-shadow">
                <form asp-action="RegisterInstitution">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <fieldset class="grupo">
                        <div class="campo">
                            <label for="nome">Nome da Instituição</label>
                            <input asp-for="Name" type="text" name="name" id="name" placeholder="Insira o nome da sua instituição" required>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="campo">
                            <label for="siteInsti">Site da Instituição</label>
                            <input asp-for="Site" type="text" name="site" id="site" placeholder="Insira o site da Instituição" required>
                            <span asp-validation-for="Site" class="text-danger"></span>
                        </div>
                    </fieldset>
                    <fieldset class="grupo">
                        <div class="campo">
                            <label for="email">Email</label>
                            <input asp-for="Email" type="text" name="email" id="email" placeholder="Insira o email da instituição" required>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="campo">
                            <label for="cpf">CNPJ</label>
                            <input asp-for="CNPJ" type="text" name="cnpj" id="cnpj" class="txt" placeholder="Insira o CPF/CNPJ da Instituição " required>
                            <span asp-validation-for="CNPJ" class="text-danger"></span>
                        </div>
                    </fieldset>
                    <fieldset class="grupo">
                        <div class="campo">
                            <label for="endereco">Endereço</label>
                            <input asp-for="Address" type="text" name="address" id="address" class="txt" placeholder="Insira o endereço da empresa" required>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="campo">
                            <label for="Bairro">Bairro</label>
                            <input asp-for="District" type="text" name="district" id="district" class="txt" placeholder="Insira qual o bairro da Instituição" required>
                            <span asp-validation-for="District" class="text-danger"></span>
                        </div>
                    </fieldset>
                    <fieldset class="grupo">
                        <div class="campo">
                            <label for="cidade">Cidade</label>
                            <input asp-for="City" type="text" name="city" id="city" class="txt" placeholder="Insira qual cidade de Atuação" required>
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="campo">
                            <label for="cidade">Fone/Celular</label>
                            <input asp-for="Phone" type="text" name="phone" id="phone" class="txt" placeholder="Insira o Contato da Instituição" required>
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                    </fieldset>
                    <div>
                        <center>
                            <input type="submit" value="Enviar" class="button1" width="9">
                            <input type="reset" value="Limpar" class="button1" width="9">
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </center>
</body>